<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>統合版 占いサービスメニュー</title>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3502918791004566"
     crossorigin="anonymous"></script>

</head>
<body>
    <h1>統合占いサービス メニュー</h1>

    <h2>🔮 通常用メニュー</h2>
    <ul>        
        <li><a href="/tenmob">📱 店頭スタッフ操作用（A4印刷）</a></li>
    </ul>

    <h2>💘 恋愛占いメニュー</h2>
    <ul>        
        <li><a href="/renai">📱 恋愛占い店頭スタッフ操作用（A4印刷）</a></li>
    </ul>

    <h2>🧑‍💻 selfネット決済操作メニュー</h2>
    <ul>
        <li><a href="/selfmob">💳 selfネット決済操作メニュー （A4印刷）</a></li>
        <li><a href="/view_shop_log">💳 店舗別カウンター （A4印刷）</a></li>        
    </ul>


    <h2>おみくじメニュー</h2>
    <ul>
        <li><a href="/omikuji">おみくじ</a></li>      
    </ul>


        <h2>✖‍💻 現在未使用メニュー</h2>
    <ul>
　　　　<li><a href="/ten">🖨 店頭スタッフ操作用（B4印刷）</a></li>
        <li><a href="/renaib4">🖨 恋愛占い店頭スタッフ操作用（B4印刷）</a></li>
    </ul>


</body>
</html>
